*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*.pyo
output*
.gitignore
__bckp
exception.log
*.bat
problematic_pages
.idea
logs
stats
**.pyc
*.pyc
__tests/unittests/temp/
settings.py
.coverage
output_pickles
libs/egomath
__bad_pages
*.bak
*_tests