[loggers]
keys: common, root, application, utils, dump, datasets, suspicious, processing

[formatters]
keys: detailed, detailedthreaded, simple
 
[handlers]
keys = console, file, consolethreaded, file_suspicious

[logger_root]
level = WARNING
handlers = file, console

[logger_application]
level = INFO
handlers = file, console
qualname = importer
propagate = 0

[logger_common]
level = WARNING
handlers = file, consolethreaded
qualname = common
propagate = 0

[logger_utils]
level = INFO
handlers =  file, consolethreaded
qualname = utils
propagate = 0

[logger_dump]
level = INFO
handlers =  file
qualname = datasets.dump
propagate = 0

[logger_datasets]
level = INFO
handlers =
qualname = datasets
propagate = 1

[logger_suspicious]
level = INFO
handlers =  file_suspicious, console
qualname = datasets.suspicious
propagate = 0

[logger_processing]
level = INFO
handlers =  console
qualname = processing
propagate = 0

[formatter_simple]
format = %(levelname)-5.4s: %(message)s
 
[formatter_detailed]
format = %(processName)s:%(asctime)s,%(msecs)03d %(levelname)-5.4s [%(name)s] %(message)s
datefmt = %Y-%m-%d-%H:%M:%S

[formatter_detailedthreaded]
format = %(threadName)s:%(asctime)s,%(msecs)03d %(levelname)-5.4s [%(name)s] %(message)s
datefmt = %Y-%m-%d-%H:%M:%S

[handler_console]
class = StreamHandler
args = []
formatter=detailed
level=INFO

[handler_consolethreaded]
class = StreamHandler
args = []
formatter=detailedthreaded

[handler_file]
class = FileHandler
args = ( 'logs/importer'+time.strftime("-%Y-%m-%d-%H.%M.%S")+'.log', 'a', 'utf-8', True )
level = INFO
formatter = detailed

[handler_file_suspicious]
class = logging.handlers.RotatingFileHandler
args = ( 'logs/importer.suspicious'+time.strftime("-%Y-%m-%d-%H.%M.%S")+'.log', 'a', 0, 0, 'utf-8', True )
level = INFO
formatter = detailed
